.task-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: left;
}

.task-popup {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 12px;
}

.task-popup-name {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius: 12px;
    padding: 15px 20px !important;
    margin-top: 20px !important;
}

.task-popup-name:focus {
    border: none;
}

.task-popup-label {
    margin-top: 10px;
    display: block;
    font: normal normal normal bold 16px/25px Open Sans;
}

.task-popup-input {
    width: 100%;
    padding: 5px;
}

.task-popup-button {
    margin-top: 1em;
    width: 100px;
    height: 50px;
    text-align: center;
    background: transparent linear-gradient(106deg, #49ec8d 0%, #49ec8d 100%) 0%
        0% no-repeat padding-box;
    border-radius: 12px;
    border-width: 0;
    font: normal normal bold 20px/30px Poppins;
    letter-spacing: 0.5px;
    color: #1c6e40;
    display: inline;
    margin-right: 25px;
}

.task-popup-button:hover {
    background: transparent linear-gradient(106deg, #49ec8d 0%, #30c26d 100%) 0%
        0% no-repeat padding-box;
    opacity: 1;
}

.task-popup-delete-button {
    color: #881919;
    background: transparent linear-gradient(106deg, #ff5f5f 0%, #ff5f5f 100%) 0%
        0% no-repeat padding-box;
        
}

.task-popup-delete-button:hover {
    background: transparent linear-gradient(106deg, #ff5f5f 0%, #cf2f2f 100%) 0%
        0% no-repeat padding-box;
    opacity: 1;
}

.task-popup-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 12.5%;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: normal normal normal 18px/18px Poppins;
    color: gray;
}

.task-popup-close-button:hover {
    color: rgb(168, 94, 94);
}

.task-popup-error {
    color: red;
    font-weight: 700;
}
