.task-container {
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 20px;
    padding: 5px 0px;
    position: relative;
    border-style: solid;
}

.task-checkbox {
    margin-left: 10px;
    margin-right: 10px;
}

.task-header {
    display: inline;
    font: normal normal bold 32px/40px Poppins;
}

.task-subtitle {
    font: normal normal normal 16px/16px Poppins;
    margin-left: 35px;
    letter-spacing: 0.25em;
    color: gray;
    text-transform: uppercase;
}

.task-text {
    margin-left: 35px;
    font: normal normal normal 16px/18px Open Sans;
}

.task-edit-button {
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 12.5%;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: gray;
}
