.calendar {
    margin-left: 30px;
    box-shadow: 0px 6px 46px gray;
    border-radius: 12px;
    overflow: auto;
}

.calendar-header-container{
    border-radius: 12px;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 10px;
}