/* .calendar-date{
    background-color: rgb(245, 245, 245);
    margin-right: 15px;
    padding-top: 10px;
    height: 65vh;
    box-shadow: 3px 4px 0px 0px gray;
} */

.calendar-container{
    margin-top: -20px;
}