.dashboard {
    margin-top: 150px;
    height: 990px;
}

.dashboard-header {
    margin-top: 150px;
    margin-bottom: 25px;
    margin-left: 2.5em;
    text-align: left;
    position: relative;
    font: normal normal bold 45px/45px Poppins;
    color: #34353a;
}

.dashboard-subtitle {
    font: normal normal normal 20px/16px Poppins;
    margin-left: 6em;
    letter-spacing: 0.25em;
    color: gray;
    text-transform: uppercase;
}

.dashboard-divider {
    margin-left: 7.25em;
    width: 7em;
    height: 0.5em;
    background: #1c6e40 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    position: relative;
}

.dashboard-actions {
    text-align: center;
    margin-left: 7.25em;
}

.dashboard-button {
    margin-top: 1em;
    width: 200px;
    height: 50px;
    text-align: center;
    background: transparent linear-gradient(106deg, #49ec8d 0%, #49ec8d 100%) 0%
        0% no-repeat padding-box;
    border-radius: 12px;
    border-width: 0;
    font: normal normal bold 20px/30px Poppins;
    letter-spacing: 0.5px;
    color: #1c6e40;
    display: block;
}

.dashboard-button:hover {
    background: transparent linear-gradient(106deg, #49ec8d 0%, #30c26d 100%) 0%
        0% no-repeat padding-box;
    opacity: 1;
}

.dashboard-link {
    text-decoration: none;
    display: block;
}

.calendar {
    display: block;
    height: 65vh;
}
