.statistics-container{
    height: 890px;
    overflow: auto;
}

.statistics-header {
    margin-top: 150px;
    margin-bottom: 25px;
    margin-left: 2.5em;
    text-align: left;
    font: normal normal bold 45px/45px Poppins;
    color: #34353a;
}

.pie{
    background-color: #34353a;
}
